@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@foreach (var item in @Class.ClassSubjects)
{
    <li>@item.ToString()</li>
}
<hr>
@foreach (var item in Student.Grades)
{
    <li>@item.SubjectName.ToString() : @item.Subject.Classwork</li>
}

@code
{
    static CLasses Class = new CLasses(8, "8A", new DateTime(2015, 09, 01), new DateTime(2023, 06, 07));
    Students Student = new Students(1615, "Mohammed Ghalib Al-Hosni", new DateTime(2005, 10, 13), Class);
}